STEAM_API_KEY=replace_with_your_key
STEAM_DEFAULT_VANITY=replace_with_your_vanity
STEAM_DEFAULT_ID=
STEAM_CACHE_TTL=PT5M
STEAM_LIVE_CACHE_TTL=PT15S
STEAM_IMAGE_CACHE_TTL=PT1H
STEAM_HTTP_CONNECT_TIMEOUT=PT5S
STEAM_HTTP_READ_TIMEOUT=PT10S
STEAM_MAX_EMBEDDED_IMAGE_BYTES=1048576
